html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, nav, .center, footer {
    flex-shrink: 0; 
}

.center {
    padding: 10px;
    width: 100%;
    height: auto;
    padding: 20px 10px 40px 0px;
    background: white;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-grow: 1;

}
  
.profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: left;
      margin-right: auto;
}
  
.title-header {
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: 24px;
      line-height: 1.1; 
      text-transform: uppercase;
      color: #000000;
      padding: 25px;
      flex: content;
      text-align: left;  
}

table td .title-header .default-button{
    flex: content;
    text-align: left;
}
    
  
    
.grey-box {
      width: 70%;
      height: auto; 
      background-color: #EEEEEE;
      display: flex;
      padding: 10px;
}
    
.grey-label {
      max-width: 100%;
      color: #000000;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: 12px;
      line-height: 1.5; 
      word-wrap: break-word;
      text-align: left;
      padding-right: 5px;
}
  
.white-box {
      width: 70%;
      height: auto;
      background-color: white;
      display: flex;
      padding: 10px;
  
}
    
.label-input {
      max-width: 100%;
      color: #000000;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.5; 
      word-wrap: break-word;
      text-align: left;
}
    
.white-box table {
        width: 100%;
        height: auto;
        margin: auto;
        border-collapse: collapse;
}

table td .default-button {
        margin: 30px;
        padding: 10px;

}

label .label-input {
    margin: 50px;

}

.disabled-button {
    border-color: #7D7575;
    border-radius: 5px;
    cursor: not-allowed;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background: #7D7575;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5;
    width: 200px;
    height: auto;
}

.default-button {
        border-color: #AE0B00;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        display: flex; 
        justify-content: center; 
        background: #AE0B00;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 14px;
        line-height: 1.5; 
        width: 200px;
        height: auto;
}



.delete-button{
    border-color: #DC3545;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    justify-content: center; 
    background: #DC3545;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
}


.update-button{
    border-color: #35DC50;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    justify-content: center; 
    background: #35DC50;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
}


input, input[type="checkbox"], select, option, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

input[type="text"], input[type="password"]{
    width: 33%;
    height: auto;

}

input[type="radio"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 10px;
}

input[type="radio"], .label-input label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px; 
}

textarea {
    width: 100%;
    height: 100%;
}

.subtext {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);

}

.dropdown {
    position: relative;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    background-color: #707070;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px; 
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    text-transform: uppercase; 
    transition: background-color 0.3s; 
}


.dropdown-content a:hover {
    background-color: #00000083;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}


table th td  {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

th {
    padding: 20px;
    box-sizing: border-box;
    background: #AE0B00;
    border: 0.5px solid #B9B9B9;
}

.table-content {
    padding: auto;
    box-sizing: border-box;
    background: #F6F6F6;
    border: 0.5px solid #B9B9B9;
}

th label {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    flex: content;
    text-align: center;
    color: #FFFFFF;

}

.table-content label {
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    flex: content;
    text-align: center;
    color: black;

}

.null-box {
    width: 70%;
    height: auto; 
    background-color: #EEEEEE;
    display: flex;
    padding: 15px;
    
}

.label-h3 {      
    max-width: 100%;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5; 
    text-align: left;
}

.label-h2,
.label-underline-h2 {
    max-width: 100%;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold; /* Use 'bold' instead of 'bolder' for consistency */
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.label-underline-h2 {
    text-decoration-line: underline;
    text-transform: uppercase;
}


tr td .label-underline-h2, .label-h2, .label-h3{
    padding: 0px;
    margin: 5px;
}

.null-box .grey-label {
    text-align: center;
    flex: content;
    padding: 50px;
}

.pop-up {
    max-width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 50px; 
    position: relative; 
}

.blackbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(140.22deg, #D90E00 0%, #000000 100%);
}

.message {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu {
    width: 100%;
    height: auto;
    background-color: #333; 
    overflow: hidden; 
    color: #FFFFFF;
}


.nav-menu li {
    float: left; 
}

.nav-menu li a {
    display: block; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: light;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    padding: 8px 65px 8px  65px; 
    text-decoration: none; 
}


.nav-menu li a:hover {
    font-weight: bold;
}


form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input[type="search"] {
    width: 250px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 12px;
    outline: none;
    /*margin-right: auto;*/
}

.view-button{
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #AE0B00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
}

.search-button{
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #AE0B00;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
}

.grey-round-box1 {
    flex-grow: 1;
    background-color: #EEEEEE;
    display: flex;
    padding: 8px 20px 8px 20px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    max-width: 100%;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5; 
    word-wrap: break-word;
    text-align: left;
}

.grey-round-box1 td,.grey-round-box2 td, .view-button td {
    padding: 5px 70px 5px 70px;
    width: 100%;
    text-align: justify;

}

.grey-round-box2 {
    flex-grow: 1;
    background-color: #DEDEDE;
    display: flex;
    padding: 8px 20px 8px 20px;
    margin: 10px 0 10px 0;
    border-radius: 20px; 
    max-width: 100%;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5; 
    word-wrap: break-word;
    text-align: left;
}

.container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px black solid;
    position: relative;
    border-radius: 12px;
    padding: 20px; 
}

#modalOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#deleteModal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 80%; 
}
